In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import re
import matplotlib as plt
import seaborn as sns
from lxml import html

In [9]:
who_df= pd.read_csv('..\data\Who_workbook.csv')
who_df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 3263: invalid continuation byte

In [3]:
df_2= pd.read_csv('..\data\enforcement-of-bans-on-tobacco-advertising.csv')
df_2

           Entity Code  Year  Indicator:Enforce bans on tobacco advertising
0     Afghanistan  AFG  2007                                              4
1     Afghanistan  AFG  2008                                              4
2     Afghanistan  AFG  2010                                              4
3     Afghanistan  AFG  2012                                              4
4     Afghanistan  AFG  2014                                              4
...           ...  ...   ...                                            ...
1360     Zimbabwe  ZWE  2010                                              2
1361     Zimbabwe  ZWE  2012                                              2
1362     Zimbabwe  ZWE  2014                                              2
1363     Zimbabwe  ZWE  2016                                              2
1364     Zimbabwe  ZWE  2018                                              2

[1365 rows x 4 columns]

In [4]:
df_3= pd.read_csv('..\data\share-of-tobacco-retail-price-that-is-tax.csv')
df_3

           Entity Code  Year  Indicator:Raise taxes on tobacco
0     Afghanistan  AFG  2008                                 2
1     Afghanistan  AFG  2010                                 2
2     Afghanistan  AFG  2012                                 2
3     Afghanistan  AFG  2014                                 2
4     Afghanistan  AFG  2016                                 2
...           ...  ...   ...                               ...
1153     Zimbabwe  ZWE  2010                                 4
1154     Zimbabwe  ZWE  2012                                 3
1155     Zimbabwe  ZWE  2014                                 3
1156     Zimbabwe  ZWE  2016                                 3
1157     Zimbabwe  ZWE  2018                                 3

[1158 rows x 4 columns]

In [5]:
df_4= pd.read_csv('..\data\smoking-death-rate-1990-2017.csv')
df_4

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: Age-standardized (Rate),Continent,Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: Age-standardized (Rate).1,Year.1
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1990,75.84,NaN,81.75,2019.0
2,Afghanistan,AFG,1991,75.64,NaN,81.75,2019.0
3,Afghanistan,AFG,1992,75.66,NaN,81.75,2019.0
4,Afghanistan,AFG,1993,76.53,NaN,81.75,2019.0
...,...,...,...,...,...,...,...
6916,Zimbabwe,ZWE,2016,140.49,NaN,134.16,2019.0
6917,Zimbabwe,ZWE,2017,138.10,NaN,134.16,2019.0
6918,Zimbabwe,ZWE,2018,135.94,NaN,134.16,2019.0
6919,Zimbabwe,ZWE,2019,134.16,NaN,134.16,2019.0
6920,Åland Islands,ALA,2015,NaN,Europe,NaN,NaN

In [6]:
countries_df= pd.merge(df_2,df_3,how='left',on=['Entity', 'Year'])

countries_df

,Entity,Code_x,Year,Indicator:Enforce bans on tobacco advertising,Code_y,Indicator:Raise taxes on tobacco
0,Afghanistan,AFG,2007,4,NaN,NaN
1,Afghanistan,AFG,2008,4,AFG,2.0
2,Afghanistan,AFG,2010,4,AFG,2.0
3,Afghanistan,AFG,2012,4,AFG,2.0
4,Afghanistan,AFG,2014,4,AFG,2.0
...,...,...,...,...,...,...
1360,Zimbabwe,ZWE,2010,2,ZWE,4.0
1361,Zimbabwe,ZWE,2012,2,ZWE,3.0
1362,Zimbabwe,ZWE,2014,2,ZWE,3.0
1363,Zimbabwe,ZWE,2016,2,ZWE,3.0
1364,Zimbabwe,ZWE,2018,2,ZWE,3.0

In [7]:
countries_df_1= pd.merge(countries_df,df_4,how='left',on=['Entity', 'Year'])

countries_df_1

,Entity,Code_x,Year,Indicator:Enforce bans on tobacco advertising,Code_y,Indicator:Raise taxes on tobacco,Code,Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: Age-standardized (Rate),Continent,Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: Age-standardized (Rate).1,Year.1
0,Afghanistan,AFG,2007,4,NaN,NaN,AFG,79.44,NaN,81.75,2019.0
1,Afghanistan,AFG,2008,4,AFG,2.0,AFG,79.74,NaN,81.75,2019.0
2,Afghanistan,AFG,2010,4,AFG,2.0,AFG,79.72,NaN,81.75,2019.0
3,Afghanistan,AFG,2012,4,AFG,2.0,AFG,80.20,NaN,81.75,2019.0
4,Afghanistan,AFG,2014,4,AFG,2.0,AFG,80.72,NaN,81.75,2019.0
...,...,...,...,...,...,...,...,...,...,...,...
1360,Zimbabwe,ZWE,2010,2,ZWE,4.0,ZWE,158.00,NaN,134.16,2019.0
1361,Zimbabwe,ZWE,2012,2,ZWE,3.0,ZWE,150.48,NaN,134.16,2019.0
1362,Zimbabwe,ZWE,2014,2,ZWE,3.0,ZWE,144.08,NaN,134.16,2019.0
1363,Zimbabwe,ZWE,2016,2,ZWE,3.0,ZWE,140.49,NaN,134.16,2019.0
1364,Zimbabwe,ZWE,2018,2,ZWE,3.0,ZWE,135.94,NaN,134.16,2019.0

In [14]:
tax_df= countries_df_1[['Entity','Indicator:Raise taxes on tobacco','Indicator:Enforce bans on tobacco advertising']]
tax_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365 entries, 0 to 1364
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Entity                                         1365 non-null   object
 1   Indicator:Raise taxes on tobacco               1158 non-null   float64
 2   Indicator:Enforce bans on tobacco advertising  1365 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 42.7+ KB

In [15]:
tax_df

,Entity,Indicator:Raise taxes on tobacco,Indicator:Enforce bans on tobacco advertising
0,Afghanistan,NaN,4
1,Afghanistan,2.0,4
2,Afghanistan,2.0,4
3,Afghanistan,2.0,4
4,Afghanistan,2.0,4
...,...,...,...
1360,Zimbabwe,4.0,2
1361,Zimbabwe,3.0,2
1362,Zimbabwe,3.0,2
1363,Zimbabwe,3.0,2
1364,Zimbabwe,3.0,2

In [19]:
tax_gb= tax_df.groupby(['Entity'],as_index = False)['Indicator:Raise taxes on tobacco','Indicator:Enforce bans on tobacco advertising'].mean()

tax_gb

C:\Users\Andrew\AppData\Local\Temp\ipykernel_16396\3070528545.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tax_gb= tax_df.groupby(['Entity'],as_index = False)['Indicator:Raise taxes on tobacco','Indicator:Enforce bans on tobacco advertising'].mean()

,Entity,Indicator:Raise taxes on tobacco,Indicator:Enforce bans on tobacco advertising
0,Afghanistan,2.000000,4.285714
1,Albania,4.000000,5.000000
2,Algeria,3.333333,4.000000
3,Andorra,3.666667,2.000000
4,Angola,1.666667,2.000000
...,...,...,...
190,Venezuela,4.000000,2.000000
191,Vietnam,3.000000,4.000000
192,Yemen,4.000000,4.428571
193,Zambia,3.000000,2.000000
194,Zimbabwe,3.166667,2.000000